.header{
  background-color: white;
}

.contener{
  display: flex;
  align-items: center;


  // margin-top: 77px;
  // margin-left: 84px;
  // margin-right: 84px;
}
  a {
    padding: 18px 47px;
  }
.menu {
  text-transform: capitalize;
  color: black;
  font-weight: 255px;
  line-height: 25px;
  font-size: 28px;
